# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.TemporaryItems
.apdisk

# Timestamped artifacts written by the clickable verification suite
Verification Reports/
